@import "../../variables";
@import "../../mixin";
@import '../../components/buttons';

.header {
    background-image: url(../img/header.png);
    @include background-img;
    padding: 60px 0 480px 0;
    text-align: center;

    &__caption {
        font-size: 82px;
        color: $white;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        margin-bottom: 18px;
    }

    &__description {
        font-size: 30px;
        font-weight: 400;
        color: $main-color;
        font-family: "Lato", sans-serif;
        margin-bottom: 18px;
    }

    &__version {
        font-size: 16px;
        color: #848e97;
        font-family: "Montserrat", sans-serif;
    }
}

@media only screen and (max-width: 993px) {
    .header {
        padding: 50px 0 485px 0;
    
        &__caption {
            font-size: 72px;
            margin-bottom: 25px;
        }
    
        &__description {
            font-size: 24px;
            margin-bottom: 20px;
        }
    
        &__version {
            font-size: 16px;
        }
    }
}

@media only screen and (max-width: 481px) {
    .header {
        padding: 42px 0 425px 0;
    
        &__caption {
            font-size: 48px;
            margin-bottom: 20px;
        }
    
        &__description {
            font-size: 18px;
            line-height: 34px;
            width: 258px;
            margin: 0 auto 20px auto;
        }
    
        &__version {
            font-size: 14px;
        }
    }
}
