@import "../../variables";
@import "../../mixin";

.revolutionary {
  width: 100%;
  padding: 0 auto;
  font-family: 'Montserrat', sans-serif;
  text-align: center;

  &-download {
    position: relative;
    bottom: 25px;



    &__button--download {
      background-color: $main-color;
      padding: 17px 63px;
      font-size: 15px;
      color: rgba(255, 255, 255, 255);
      border-radius: 50px;
      font-weight: 700;
      margin-bottom: 19px;
    }
    &__button--download:hover {
      background-color: white;
      color: $main-color;
      border: 1px solid lightgrey !important;


    }

    &__description {
      font-size: 12px;
      color: rgba(132, 142, 151, 255);
    }

  }

  &__title {
    font-size: 40px;
    color: rgba(99, 92, 115, 255);
    text-align: center;
    margin-top: 67px;
    text-transform: uppercase;

  }

  &__text {
    font-size: 15pt;
    color: rgba(50, 50, 50, 255);
    text-align: center;
    padding: 38px 150px 36px 150px;
    font-family: "Lato", sans-serif;
    line-height: 1.5;
  }

  &-buttons {
    @include flex-center;
    justify-content: center;
    font-weight: bold;
    font-size: 10px;



    &-button {
      margin-left: 10px;
      @include flex-center;
      border-radius: .25em;
      cursor: pointer;
      color: #24292e;

      &-button:hover {
        border: 1px solid grey;
      }

      &__name {
        line-height: 20px;
        padding: 3px 10px;
        background-color: #eff3f6;
        border: 1px solid rgba(27, 31, 35, .2);

        &:hover {
          border: 1px solid rgba(27, 31, 35, .4);
          background-color: rgba(236, 240, 241, 1);
        }
      }


      &__quantity {
        font-weight: 600;
        line-height: 20px;
        padding: 3px 10px;
        vertical-align: middle;
        border: 1px solid rgba(27, 31, 35, .2);

      }
      &__quantity:hover {
        color: blue;
      }
    }
  }


}


@media only screen and (max-width: 993px) {

  .revolutionary {
    padding: 0;
    margin: 0 auto;

    &-buttons {
      margin: 0 auto;
    }

    &__title {
      font-size: 30px;
      margin-top: 94px;
    }
    &__text {
      padding: 0 0 0 0;
      margin: 38px 50px 36px;
    }
  }
}



@media only screen and (max-width: 481px) {
  .revolutionary {
    padding: 0 auto;

    &-download {
      bottom: 23px;

      &__button--download {
        font-size: 13px;
        padding: 15px auto;

      }
    }

    &-buttons {
      margin: 0 auto;

      &-button {
        width: 40%;
      }
    }


    &__title {
      font-size: 19px;
      margin-top: 52px;
    }
    &__text {
      font-size: 12px;
      margin: 23px auto 14px;
      width: 250px;

    }
    &-buttons-button {
      margin-top: 20px;
    }

  }
}