@import "../../variables";
@import "../../mixin";


.pricing {
  background-image: url("../img/pricing-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 255, 255, 255);
  background-color: #4b3b4e;
  padding-top: 83px;

  &-title {
    font-size: 35px;
    text-align: center;
  }

  &-container {
    @include flex-center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 5px;


    &-options {
      background-color: rgba(255, 255, 255, 0.11);
      text-align: center;
      width: 22%;
      height: 457px;
      margin: 122px 7px 149px;


      &__name {
        font-size: 17pt;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 46px 0 34px 0;
        font-weight: normal;
        text-transform: uppercase;
      }

      &__price {
        font-size: 40px;
        font-weight: bold;
        padding: 32px 0 24px 0;

        &--dollar {
          font-weight: lighter;
        }
      }

      &__permonth {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.3);
        font-weight: normal;
        text-transform: uppercase;

        &--biggerpading {
          padding-bottom: 10px;
        }
      }

      &__line {
        background-color: #8d81ac;
        width: 60px;
        height: 5px;
        margin: 39px auto 31px auto;
      }

      &__license {
        font-size: 14px;
        font-weight: normal;
        padding: 0 25px;
        line-height: 1.5;
        height: 45px;

        &--pading {
          padding: 0 36px;
        }
      }

      &__button {
        background-color: rgba(255, 255, 255, 0.15);
        padding: 12px 41px;
        border-radius: 2px;
        margin: 37px auto;
        font-size: 11pt;
        text-transform: uppercase;
        font-weight: normal;

        &--bigger {
          padding: 12px 56px;
          font-size: 12pt;
        }
      }

      &__button:hover {
        background-color: #d0cbd0;
        color: rgba(127, 109, 120, 255);
      }
    }

    &-options--bigger {
      background-color: rgba(0, 0, 0, 0.3);
      text-align: center;
      width: 26%;
      margin: 0;


      &__name {
        font-size: 18pt;
        text-transform: uppercase;
        font-weight: normal;
        padding: 51px 0 43px;
        background-color: rgba(0, 0, 0, 0.11);
      }

      &__price {
        font-size: 78px;
        font-weight: bold;
        padding: 15px 0 21px 0;
      }

      &__license {
        padding: 2px 45px 45px;
        line-height: 1.5;
      }

    }
  }
}


@media only screen and (max-width: 992px) {
  .pricing {
    padding: 98px 0 80px;
    margin: 0 auto;

    &-container {
      padding: 0;
      margin: 0 auto;

    }

    &-title {
      font-size: 29px;
    }

    &-container {
      margin: 0 40px;


      &-options {

        margin: 42px 20px;
        width: 40%;
        max-width: 257px;

        &--bigger {
          width: 299px;
        }
      }
    }
  }
}


@media only screen and (max-width: 693px) {
  .pricing {
    padding: 98px 0 80px;
    margin: 0 auto;

    &-container {
      padding: 0;
      margin: 0 auto;

    }

    &-title {
      font-size: 29px;
    }

    &-container {
      margin: 0 auto;


      &-options {

        margin: 42px 20px;
        width: 257px;

        &--bigger {
          width: 299px;
        }
      }
    }
  }
}

@media only screen and (max-width: 613px) {
  .pricing {
    padding: 98px 0 80px;
    margin: 0 auto;

    &-container {
      padding: 0;
      margin: 0 auto;

    }

    &-title {
      font-size: 29px;
    }

    &-container {
      margin: 0 auto;


      &-options {

        margin: 42px 20px;
        width: 230px;

        &--bigger {
          width: 270px;
        }
      }
    }
  }
}

@media only screen and (max-width: 559px) {
  .pricing {
    padding: 98px 0 80px;
    margin: 0 auto;

    &-container {
      padding: 0;
      margin: 0 auto;

    }

    &-title {
      font-size: 29px;
    }

    &-container {
      margin: 0 auto;


      &-options {
        margin: 42px 5px;
        width: 195px;


        &__name {
          font-size: 12pt;
        }

        &--bigger {
          width: 255px;
        }
      }
    }
  }
}


@media only screen and (max-width: 480px) {

  .pricing {
    padding: 71px 0 93px;

    &-title {
      font-size: 24px;
      margin-bottom: 53px;
    }

    &-container {
      flex-direction: column;

      &-options {
        width: 257px;
        margin: 15px auto;


        &--bigger {
          width: 299px;
        }

      }
    }
  }

}