@import "../../variables";
@import "../../mixin";

.whatyouget {
  background-color: #f4f4f4;
  padding-top: 84px;
  margin-top: 70px;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;

  &__title {
    font-size: 35pt;
    color: rgba(141, 129, 172, 255);
    text-align: right;
    position: relative;
    top: 20px;
    margin-left: 600px;
  }

  &-content {
    display: flex;
    flex-direction: row;

    &-features {


      &__feature {
        display: flex;
        flex-direction: row;
        padding: 0 131px 30px 90px;

        &--icon {

          &__first {
            width: 111px;
            height: 64px;
            margin-right: 23px;
          }

          &__second {
            width: 90px;
            height: 80px;
            margin-right: 44px;
          }

          &__third {
            width: 60px;
            height: 84px;
            margin-right: 59px;
            margin-left: 16px;
          }

          &__fourth {
            width: 71px;
            height: 71px;
            margin-right: 53px;
            margin-left: 10px;
          }
        }

        &--description {
          width: 250px;
          line-height: 1.5;


          &__title {
            font-size: 14px;
            font-weight: normal;
            color: rgba(50, 50, 50, 255);
            text-align: left;
          }

          &__text {
            font-size: 10pt;
            color: rgba(132, 142, 151, 255);
            text-align: left;
            padding-top: 14px;
            width: 350px;
          }
        }
      }
    }


    &-editor {
      text-align: right;
      padding-top: 30px;

      &__image {
        width: 977px;
        height: 519px;
        margin-top: 30px;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .whatyouget {
    padding-top: 54;

    &__title {
      padding: 0;
      text-align: center;
      margin: 0 auto 80px;
      top: 0;

    }



    &-content {
      @include flex-center;

      &-features {


        &__feature {
          padding: 0;
          margin: 0 30px 55px ;

          &--description {
            &__text {
              width: 555px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {

  .whatyouget {


    &__title {
      font-size: 23px;
      padding: 0 50px 0 50px;
    }


    &-content {
      justify-content: center;


      &-features {


        &__feature {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0;
          margin: 0 auto 40px;

          &--icon {
            margin-left: auto;
            margin-right: auto;
          }

          &--description {

            &__title {
              font-size: 12px;
              padding-top: 30px;
              text-align: center;
            }

            &__text {
              text-align: center;
              width: 270px;
            }
          }

        }
      }
    }
    &-content {

      &-editor {
        &__image {
          margin-left: 410px;
          width: 716px;
          height: 381px;
        }
      }
    }

  }
}

