@mixin flex-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@mixin flex-column-center {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

@mixin background-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}